/* common rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #010101;
    font-family: Arial, Helvetica, sans-serif;
}

/* utility rules */
.button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.relative {
    position: relative;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 90px;
}

/* HEADER RULES */
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #d3d3d3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 3px 10px;
}

.red {
    background-color: #FC605C;
}

.yellow {
    background-color: #FDBD40;
}

.green {
    background-color: #33C84A;
}

.zoom_id {
    margin: auto;
}

.zoom_id > h1{
    font-size: 16px;
}

.censored {
    width: 120px;
    height: 16px;
    background-color: #A5A5A5;
    border: 3px solid white;
    display: inline-block;
    vertical-align: text-top;
}

/* MAIN RULES */
.item {
    margin: 0 5px;
    flex-grow: 1;
}

.name {
    position: absolute;
    left: 0;
    bottom: 4px;
    color: white;
    background-color: rgba(0 0 0 / 70%);
    padding: 4px 6px;
}

.speak {
    border: 2px solid #F8FB92;
}

.speaker_view {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.speaker, .zoom {
    background-color: #303030;
    border-radius: 6px;
    display: inline-block;
    background-color: #303030;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 10px;
    cursor: pointer;
}

.arrow_left {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #7F7F7F;
}

.arrow_right {
    position: absolute;
    top: 50%;
    right: 20px;
    color: #39BBFC;
}

.arrow_left > i, .arrow_right > i {
    font-size: 60px;
    cursor: pointer;
}

.number {
    color: white;
}

/* FOOTER RULES */
footer {
    background-color: #222326;
    color: #DCDCDC;
    display: flex;
    justify-content: space-between;
    padding: 6px 0 6px 20px;
}

.icon {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

.icon > i {
    font-size: 30px;
    margin-bottom: 6px;
}

.arrow_up {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 20px;
}

.arrow_up > i {
    cursor: pointer;
}

.special > i {
    color: #51C623;
}

.leave {
    background-color: #47484A;
    color: #F25650;
    font-size: 11px;
    padding: 20px 16px;
    cursor: pointer;
}